# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DDS Java\Que_Me_Pongo_falvarezscarzella\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
